@page "/counter"
@using Severity = MudBlazor.Severity
@using BVPVWebServer.Services

@inject ProtectedSessionStorage _sessionStore

@inject StateService _stateService
@inject UserService _userService
@inject NavigationManager _navMgr
@{
    if (!_stateService.IsLoggedIn)
    {
        _navMgr.NavigateTo("/");
    }
    else
    {
        if (UserService.CanUserUseApp(_stateService.GetAppInfo(), _stateService.UserId, "users") == false)
        {
            <MudAlert Severity="Severity.Error">User @_stateService.UserId cannot use this App based on your Role profile.</MudAlert>
        }
        else
        {
            <PageTitle>Counter</PageTitle>

            <h1>Counter</h1>

            <p role="status">Current count: @_currentCount</p>

            <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
        }
    }
}

@code {

    protected override async Task OnInitializedAsync()
    {
        var result = await _sessionStore.GetAsync<string>("User");
        if (result.Value is not {Length: > 1 }) _navMgr.NavigateTo("/");
    }

    private int _currentCount;

    private void IncrementCount()
    {
        _currentCount++;
    }

}