@page "/counter"

@inject StateService _state
@inject NavigationManager _navMgr
@{
    if (!_state.IsLoggedIn)
    {
        _navMgr.NavigateTo("/LoginWindow");
    }
    else
    {
        <PageTitle>Counter</PageTitle>

        <h1>Counter</h1>

        <p role="status">Current count: @_currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    }
}

@code {
    private int _currentCount = 0;

    private void IncrementCount()
    {
        _currentCount++;
    }
}
