@page "/counter"
@using Severity = MudBlazor.Severity
@using BVPVWebServer.Services

@inject ProtectedSessionStorage SessionStore

@inject StateService StateService
@inject NavigationManager NavMgr
@{
    if (!StateService.IsLoggedIn)
    {
        NavMgr.NavigateTo("/");
    }
    else
    {
        if (UserService.CanUserUseApp(StateService.GetAppInfo(), StateService.UserId, "Counter") == false)
        {
            <MudAlert Severity="Severity.Error">User @StateService.UserId cannot use this App based on your Role profile.</MudAlert>
        }
        else
        {
            <PageTitle>Counter</PageTitle>
            <MudThemeProvider IsDarkMode="StateService.SystemState!.DarkTheme"></MudThemeProvider>
            <h1>Counter</h1>

            <p role="status">Current count: @_currentCount</p>

            <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
        }
    }
}

@code {

    protected override async Task OnInitializedAsync()
    {
        var result = await SessionStore.GetAsync<string>("User");
        if (result.Value is not {Length: > 1 }) NavMgr.NavigateTo("/");
    }

    private int _currentCount;

    private void IncrementCount()
    {
        _currentCount++;
    }

}