@page "/"

@using BVPVWebServer.Data
@inject WeatherForecastService _forecastService
@inject RoleService _roleService

<PageTitle>Home Styropek ES</PageTitle>

<MudText Typo="Typo.h3" Align="Align.Center">BVPV Styropek - Environmental Services</MudText>
<MudText Typo="Typo.h4" Align="Align.Center">UI Options & Examples</MudText>

<MudGrid>
    <MudItem xs="12" >
        <MudAppBar Color="Color.Secondary" Dense="true" Fixed="false">
            <MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.Add" Color="Color.Tertiary" Label="Role" Edge="Edge.Start"></MudFab>
            <p>--</p>
            <MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.FileDownload" Color="Color.Tertiary" Label="Export"></MudFab>
            <MudSpacer/>
        </MudAppBar>
    </MudItem>
    <MudItem xs="6">
        <MudPaper Class="py4" Outlined="true">
            <MudText Typo="Typo.body1">Some Entry Form</MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="6">
        <MudPaper Class="py4" Outlined="true">
            <MudText Typo="Typo.body1">Some other Entry form</MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="12">
        <MudPaper Class="align-center justify-left py-4" Outlined="true">
            <MudText Typo="Typo.h4" Align="Align.Center">Roles Data Grid</MudText>
            <MudDataGrid Items="@_roles" Outlined="true" Sortable="true">
                <Columns>
                    <Column T="Role" Field="RoleId" CellClass="string" Title="Role"></Column>
                    <Column T="Role" Field="RoleLevel" CellClass="int" Title="Access Level"></Column>
                    <Column T="Role" Field="ReadOnly" CellClass="bool" Title="Readonly"></Column>
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="Role"></MudDataGridPager>
                </PagerContent>
            </MudDataGrid>
        </MudPaper>
    </MudItem>
</MudGrid>


@code
{
    private List<Role> _roles = new List<Role>();

    protected override async Task OnInitializedAsync()
    {
        _roles = await _roleService.GetAllRoles();
    }
}