@page "/LoginWindow"

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage _sessionStore

@inject StateService _stateService
@inject NavigationManager _navMgr

<h3>LoginWindow</h3>

<MudText>Last Page = @LastPage</MudText>
<MudText>IsLoggedIn = @_stateService.IsLoggedIn</MudText>
<MudText>Last Date Logged In = @_stateService.LastDateLoggedIn</MudText>
<MudButton @onclick="@FakeALogin">Fake a Login</MudButton>

@code {
    private string? LastPage;
    private bool IsUserLoggedIn;
    
    protected override async Task OnInitializedAsync()
    {
        var result = await _sessionStore.GetAsync<string>("User");
        if (result.Value is {Length: >= 1 })
        {
            _stateService.InitSystemState(result.Value);
            _stateService.IsLoggedIn = true;
            _navMgr.NavigateTo("/Index");
        }
    }

    private async Task FakeALogin()
    {
        await _sessionStore.SetAsync("User", "Dick");
        StateHasChanged();
        _stateService.InitSystemState("Dick");
        _stateService.IsLoggedIn = true;
        _navMgr.NavigateTo("/Index");
    }
}