@page "/LoginWindow"

@inject StateService _stateService
@inject NavigationManager _navMgr

<h3>LoginWindow</h3>

<MudText>Last Page = @LastPage</MudText>
<MudText>IsLoggedIn = @_stateService.IsLoggedIn</MudText>
<MudText>Last Date Logged In = @_stateService.LastDateLoggedIn</MudText>
<MudButton @onclick="@FakeALogin">Fake a Login</MudButton>

@code {
    private string? LastPage;
    private bool IsUserLoggedIn;
    
    protected override async Task OnInitializedAsync()
    {
        if (_stateService.IsLoggedIn) _navMgr.NavigateTo("/Index");
    }

    private async Task FakeALogin()
    {
        _stateService.InitSystemState("Dick");
        _stateService.IsLoggedIn = true;
    }
}